<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910098256177-qf9t1bu6i0ad5hae8235f4eocbna5tc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910098256177-qf9t1bu6i0ad5hae8235f4eocbna5tc8</string>
	<key>API_KEY</key>
	<string>AIzaSyCLE52TYRPiKUEGiUsR5l9Ui1Wbbi965V8</string>
	<key>GCM_SENDER_ID</key>
	<string>910098256177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinkj.vizit</string>
	<key>PROJECT_ID</key>
	<string>vizit-a26d9</string>
	<key>STORAGE_BUCKET</key>
	<string>vizit-a26d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910098256177:ios:c8b275413ac566e6</string>
	<key>DATABASE_URL</key>
	<string>https://vizit-a26d9.firebaseio.com</string>
</dict>
</plist>